<!DOCTYPE html>

<html>
	<head>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Login</title>
	</head>
	<body>
		<form method='GET'>
			<h1>Log in</h1>
			<input name='login' type='text' placeholder='login' required><br>
			<input name='password' type='password' placeholder='password' required /><br>
			<input type='submit' value='Войти/Зарегестрироваться'>
			<h1><br> {{er}}</h1>
		</form>
	</body>
	<style>
		h1{text-color: #0f0f0f}
		form{width: 50%; margin-left: 25%; text-align: center; border-radius: 10px; background-color: #f0f0f0; height: 250px}
		input{padding: 5px; margin: 10px; font-size: 125%}
	</style>
</html>